<!DOCTYPE html>
<html lang="es">
    
    <%- include('../partials/head', {title: 'Carrito de compras', estilo:'/stylesheets/carrito-style.css'}) %>

    
<body>
    <%- include('../partials/header') %>
    <main class="main_container">
        <section class="cart_products">
            <p class="purchase_warning"> Los productos en el carrito no serán reservados hasta completar la compra</p>
            <% let carrito= [1,2,3,4] %>
            <% for(i=0; i < carrito.length; i++) { %> 
         
            <div class="added_product">
              
                <h3 id= "product_name"> <%=product[i].name %> </h3> 
                <img src="/images/products/<%=product[i].image %>" alt="product image" id="product_image">
            <div class="product_info">
                <!-- <p id="product_quantity"> </p> -->
                <% if(product.category_id == 1){ %>
                    <p id= "product_size"> <%= product[i].talles.nombre %></p> 
                   <% } %>
                <p id= "product_price"> <%= product[i].finalPrice%></p> 
            </div>

            <!-- <div class= "product_info">
                    <p id= "product_size"> product[i].size </p>
                </div>
                 CANTIDAD CON SELECT O CON INPUT? ES UN FORM??  
                <div class= "product_info">
                    <p id= "product_price"> product[i].price</p>
                </div> -->
                <!-- BOTON PARA QUITAR UN PRODUCTO DEL CARRITO ES UN FORM??  -->
            </div>
            <% } %>
        </section>
        <section class="checkout"> <!-- QUIZÁ SEA MEJOR DEJAR EL RESUMEN DE LA COMPRA EN OTRA VISTA -->
            <div class="purchase_summary">
                <h3 id="checkout_title">Resumen de la compra</h3>
                <strong id="total_items">Cantidad de artículos  ----------------  </strong>
                <!-- <span id="value"></span> CAMPO PARA VALOR  -->
                <strong id="total_price">Precio Total  ---------------- $ </strong>
                <!-- <span id="value"></span> CAMPO PARA VALOR  -->
            </div>
            <!-- BOTON PARA IR A "PAGAR" (RESUMEN DE COMPRA) ES UN FORM??  -->
            <button href="#products_list_view" class="button" id="go_to_pay">
                <a id="button_link">Ir a pagar</a>
           </button>
        </section>
    </section>

    <!-- section ofertas -->
    <div>
        <h1>OFERTAS</h1>
    </div>
    <section class="contenedor-main-productos">
        <% product.forEach(products=> { %>
            <% { %>
                <% if(products.discount > 0){ %>
                <article class="contenedor-main-productos-articulos">

                    <div class="contenedor-main-productos-articulos-imagen">
                        <img src="/images/products/<%= products.image %>" alt="imagen-de-producto">
                    </div>
                    <div class="contenedor-main-productos-articulos-detalles">
                        <div>
                            <h2>
                                <%= products.name %>
                            </h2>
                        </div>
                        <div>

                        </div>
                        
                 
                        
                        <div>
                            <h2>
                            ¡Precio! $ <%= products.finalPrice %> 
                            </h2>
                        </div>
                            
                        <div>
                            <h2>
                                 <%= products.discount %> % OFF
                            </h2>
                        </div>
                        
                        <div>
                            <h3>
                                 Categoria: <%= products.categorys.nombre %>
                            </h3>
                        </div>
                        <div class="action-button edit">
                            <a href="/products/detail/<%= products.id %>">Detalles</a>
                        </div>
                        <div class="contenedor-main-productos-articulos-button">
                            <button type="submit" name="comprar">
                                Comprar
                            </button>
                        </div>
                    </div>
                </article>
                <% } %>
                <% } %>
                    <% }) %>
    </section>
        <!-- <section class="recommended_items">
            <h3 id="recommended_items_title">Artículos recomendados</h3> --> 
            <!-- El For de los recomendados aquí
            <div class="recommended_product">
                <img src="product[i].image" alt="product image" id="item_image">
                <p> product[i].name</p>
            </div>
            <div class="recommended_product">
                <img src="product[i].image" alt="product image" id="item_image">
                <p> product[i].name</p>
            </div>
            
        </section>-->
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
