<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Detalle producto', estilo:'/stylesheets/usersRegister-style.css'}) %>
<body>
	<!-- Header -->
	<%- include('../partials/header') %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="center" >
		<div >
			<div >
				<h2 class="products-title">Detalle del producto: <%= product.name %></h2>
			</div>
		</div>
		<div class="product-detail">
			<div ">
				<div class="foto">
					<img src="/images/products/<%= product.image %>" alt="product image" class="product-detail-img">
					<p class="campo">
						<%= product.description %>
					</p>
				</div>
				<div class="campo">
					<article class="product-detail-info">
						<h2 class="product-detail-title"><%= product.name %></h2>
						<h3 class="product-detail-title">Categoria: <%= product.category_id %></h3>
						<h4 class="product-detail-title">Marca: <%= product.marca_id %></h4>
						<% if(product.category_id == 1){ %>
						<h4 class="product-detail-title">Talle: <%= product.talle_id %></h4>
						<% } %>
						<p class="product-detail-price small">
								<span>$<%= product.price %></span>
								/
								
							</p>
							<p class="product-detail-price">
								$<%= product.price %>
							</p>
							<p class="product-detail-price">
								Stock: <%= product.stock %>
							</p>

						<ul class="actions-list">
							<li>
								<i class="fas fa-credit-card"></i>
								<p>Pagá en 12 cuotas sin interes</p>
							</li>
							<li>
								<i class="fas fa-store"></i>
								<p>Retiro gratis en locales del vendedor</p>
							</li>
						</ul>

						<a href="#" class="botones">COMPRAR AHORA</a>
						<hr>

						<a href="/products/edit/<%= product.id %>" class="botones">EDITAR PRODUCTO</a>
						<form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
							<button type="submit" class="action-button delete">ELIMINAR PRODUCTO</button>
						</form>

						<!-- <hr> -->

						<form action="/products/delete/img/<%= product.id %>?_method=DELETE" method="POST">
							<button type="submit" class="botones">ELIMINAR IMAGEN</button>
						</form>
					</article>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
    <%- include('../partials/footer') %>
	<!-- /footer -->

</body>	
</html>