<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Detalle producto', estilo:'/stylesheets/usersRegister-style.css'}) %>
<body>
	<!-- Header -->
	<%- include('../partials/header') %>


	<!-- main -->
	<div class="center" >
		<!-- titulo -->
		<div class="title" >
			
				<h1 >Detalle del producto: <%= product.name %></h1>
			
		</div>
		<div class="main">
			<div >
				<!-- imagen -->
				<div class="imagen ">
					<img src="/images/products/<%= product.image %>" alt="product image" class="product-detail-img">
				</div>	
					
				<hr>
				<div class="campo">
					<article class="product-detail-info">
						<!-- Descripción -->
						<div class="description">
						<p >
							<%= product.description %>
						</p>
						</div>
						<hr>
						<!-- detalles -->
						<div class="details">
						<!-- Nombre -->
						<h2 class="details-font"><%= product.name %></h2>
						<!-- Categoria -->
						<h3 class="details-font">Categoria: <%= product.categorys.nombre %></h3>
						<!-- Marca -->
						<h4 class="details-font">Marca: <%= product.marcas.nombre %></h4>
						<!-- Talle -->
						<% if(product.category_id == 1){ %>
						<h4 class="details-font">Talle: <%= product.talles.nombre %></h4>
						<% } %>
						<!-- Precio -->
					
							<% if(product.discount > 0){ %>	
							
							<!-- Descuento -->
							<h2 class="details-font price">
								Descuento <%= product.discount %> % OFF
							</h2>
							
							<h3 class="details-font price">
								Costo Final:<% } %> $ <%= product.finalPrice %> 
							</h3>
							
							<!-- Stock -->
							
							
								<% if ( product.stock > 0) { %> 
									<p class="details-font"></p>
								Stock: <%= product.stock %>
								</p>
								<%} else{%>
								<h2>
									Sin stock por el momento
								</h2> 
								<%}%>	
							
						</div>
						<hr>
						<!-- cuotas y envio -->
						<div class="pago-envio">
						<ul class="actions-list">
							<li>
								<i class="fas fa-credit-card"><p>Pagá en 12 cuotas sin interes</p></i>
								
							</li>
							<li>
								<i class="fas fa-store"><p>Retiro gratis en locales del vendedor</p></i>
								
							</li>
						</ul>
						<hr>
					</div class="buttons">
					    <!-- botones -->
						<div>
						<button><i class="fa-solid fa-cart-plus"></i></button>
						<button>COMPRAR</button>
						</div>
						<hr> 
						<h3>Admisnistradores</h3>
						<div>
						<button>
						<a href="/products/edit/<%= product.id %>" >EDITAR PRODUCTO</a>
						</button>
						<form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
							<button type="submit" class="action-button delete">ELIMINAR PRODUCTO</button>
						</form>

						<form action="/products/delete/img/<%= product.id %>?_method=DELETE" method="POST">
							<button type="submit" class="botones">ELIMINAR IMAGEN</button>
						</form>
					</div>
					</article>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
    <%- include('../partials/footer') %>
	<!-- /footer -->

</body>	
</html>