<!DOCTYPE html>
<html lang="es">
    
    <%- include('../partials/head') %>

    <body>
        
        <%- include('../partials/header') %>

        <main class="main-container">    
            <form action="/products" method="post" enctype="multipart/form-data">
            <div>     
                <h2 class="products-title"> Formulario de Creacion de Productos</i></h2> 
            </div>
                    <!-- name -->
                <div class="casilla">
                    <label for="name" class="form-label">Nombre: </label>
                    <input class="nombre_y_apellido" type="text" name="name" id="name" placeholder="Ingrese el nombre del producto" minlength="8"required>
                    <span class="feedback"></span>
                </div>
                <!-- description -->
                <div class="casilla">
                    <label for="description" class="form-label">Descripción: </label>
                    <textarea  name="description" id="description" > </textarea>
                    <span class="feedback"></span>
                </div>
                 <!-- price -->
                 <div class="casilla">
                    <label for="price" class="form-label">Precio:</label>
                    <input type="text" name="price" id="price" placeholder="$00.00" required>
                    <span class="feedback"></span>
                </div>
                <!-- category -->
                <div class="casilla">
                    <label for="category" class="form-label">Categoría: </label>
                    <select name="category_id" id="category_id" class="form-input">
                       
                        <option value="">Elegí</option>
                        <% for(i=0; i< allCategorys.length ; i++) { %>
                        
                        <option value="<%= allCategorys[i].id %>"><%= allCategorys[i].nombre %></option>
                        
                        <% } %>
                    </select>
                </div>


                <div class="casilla">
                    <label for="talle_id" class="form-label">Talle: </label>
                    <select name="talle_id" id="talle_id" class="form-input">
                        <option value="">Elegí</option>
                    
                    </select>
                </div>

                <div class="casilla">
                    <label for="marca_id" class="form-label">Talle: </label>
                    <select name="marca_id" id="marca_id" class="form-input">
                        <option value="">Elegí</option>
                     
                    </select>
                </div>



                <!-- image -->
                <div class="casilla">
                    <label for="image" class="form-label">Imagen: </label>
                    <input  type="file" name="image" id="image" class="nombre_y_apellido" >
                    <span class="feedback"></span>
                </div>


                <div class="botones">
                    <button type="submit">Guardar</button>
                    <button type="reset" >Borrar</button>
                </div>
            </form>
        </main>

        <%- include('../partials/footer') %>
        
    </body>
</html>