<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>

    <body>
        <% let precioConDescuento =(products.price -(products.price*(products.discount/100))) %> 
        <%- include('../partials/header') %>

            <main class="contenedor-main">
                
                <div class="contenedor-main-rutas">
                    <a href="/">inicio</a>
                    <a href="/products/create">Crear Productos</a>
                </div>
                <div class="contenedor-main-padre">
                    <section class="contenedor-main-productos">
                        <% products.forEach(products=> { %>
                            <% { %>

                                <article class="contenedor-main-productos-articulos">

                                    <div class="contenedor-main-productos-articulos-imagen">
                                        <img src="/images/products/<%= products.image %>" alt="imagen-de-producto">
                                    </div>
                                    <div class="contenedor-main-productos-articulos-detalles">
                                        <div>
                                            <h2>
                                                <%= products.name %>
                                            </h2>
                                        </div>
                                        <div>

                                        </div>
                                        <% if(products.discount == 0){ %>
                                        <div>
                                            <h2>
                                             $ <%= products.price %> 
                                            </h2>
                                        </div>
                                        <% } else { %>
                                        <div>
                                            <h2>
                                            ¡Oferta! $ <%= (products.price -(products.price*(products.discount/100))) %> 
                                            </h2>
                                        </div>
                                        	
                                        <div>
                                            <h2>
                                                 <%= products.discount %> % OFF
                                            </h2>
                                        </div>
                                        <% } %>
                                        <div>
                                            <h3>
                                                 Categoria: <%= products.categorys.nombre %>
                                            </h3>
                                        </div>
                                        <div class="action-button edit">
                                            <a href="/products/detail/<%= products.id %>">Detalles</a>
                                        </div>
                                        <div class="contenedor-main-productos-articulos-button">
                                            <button type="submit" name="comprar">
                                                Comprar
                                            </button>
                                        </div>
                                    </div>
                                </article>
                                <% } %>
                                    <% }) %>
                    </section>

                    <!-- section FILTRO -->
                    <button class="contenedor-main-filtro-button">
                        <i class="fa-solid fa-bars"></i>
                    </button>

                    <section class="contenedor-main-filtro">
                        <form action="" class="contenedor-main-filtro-lista">
                            
                            <h2>Filtrar por</h2>
                            <div>
                              
                                <h3>CATEGORIAS</h3>
                                <label><input type="radio" name="Indumentaria">Indumentaria</label>
                                <label><input type="radio" name="Clases">Clases</label>
                                <label><input type="radio" name="Accesorios">Accesorios</label>
                                <label><input type="radio" name="Decorativos">Decorativos</label>
                            </div>
  
        
                            
                            <div>
                                <h3>MARCA</h3>
                                <label><input type="radio" name="Marca1">Marca 1</label>
                                <label><input type="radio" name="Marca2">Marca 2</label>
                                <label><input type="radio" name="Marca3">Marca 3</label>
                            </div>
                            <div>
                                <h3>Talle</h3>
                                <label><input type="radio" name="XS">XS</label>
                                <label><input type="radio" name="S">S</label>
                                <label><input type="radio" name="M">M</label>
                                <label><input type="radio" name="L">L</label>
                                <label><input type="radio" name="XL">XL</label>
                                <label><input type="radio" name="XXL">XXL</label>
                            </div>
                            <div>
                                <h3>ORDEN</h3>
                                <label><input type="radio" name="Menor-precio">Menor precio</label>
                                <label><input type="radio" name="Mayor-precio">Mayor precio</label>
                                <label><input type="radio" name="Aromatisantes">Mas vendido</label>
                                <label><input type="radio" name="a-z">A-Z</label>
                                <label><input type="radio" name="z-a">Z-A</label>
                                <label><input type="radio" name="fecha-lanzamiento">Fecha de lanzamiento</label>
                            </div>
                            <label class="contenedor-main-filtro-lista-boton-borrar">
                                <button type="reset" name="resetear">Borrar</button>
                            </label>
                        </form>
                    </section>

                    <!-- section ofertas -->
                    <div>
                        <h1>OFERTAS</h1>
                    </div>
                    <section class="contenedor-main-productos">
                        <% products.forEach(products=> { %>
                            <% { %>
                                <% if(products.discount > 0){ %>
                                <article class="contenedor-main-productos-articulos">

                                    <div class="contenedor-main-productos-articulos-imagen">
                                        <img src="/images/products/<%= products.image %>" alt="imagen-de-producto">
                                    </div>
                                    <div class="contenedor-main-productos-articulos-detalles">
                                        <div>
                                            <h2>
                                                <%= products.name %>
                                            </h2>
                                        </div>
                                        <div>

                                        </div>
                                        
                                 
                                        
                                        <div>
                                            <h2>
                                            ¡Oferta! $ <%= (products.price -(products.price*(products.discount/100))) %> 
                                            </h2>
                                        </div>
                                        	
                                        <div>
                                            <h2>
                                                 <%= products.discount %> % OFF
                                            </h2>
                                        </div>
                                        
                                        <div>
                                            <h3>
                                                 Categoria: <%= products.categorys.nombre %>
                                            </h3>
                                        </div>
                                        <div class="action-button edit">
                                            <a href="/products/detail/<%= products.id %>">Detalles</a>
                                        </div>
                                        <div class="contenedor-main-productos-articulos-button">
                                            <button type="submit" name="comprar">
                                                Comprar
                                            </button>
                                        </div>
                                    </div>
                                </article>
                                <% } %>
                                <% } %>
                                    <% }) %>
                    </section>
                </div>
            </main>

            <%- include('../partials/footer') %>

    </body>

</html>