<!DOCTYPE html>
<!DOCTYPE html>
<html lang="es">
    
    <%- include('../partials/head', {title: 'Eliminar producto', estilo:'/stylesheets/style.css'}) %>

    <body>
        
        <%- include('../partials/header') %>
        //codigo aqui
        <h1> =(</h1>
        <h1> ¿Esta seguro que quiere borrar el producto <% product.name %> ?</h1>
    <form action="productDelete">   
        <div class="botones">
            <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                <button type="submit" class="action-button delete">ELIMINAR PRODUCTO</button>
            </form>
          
            <a href="/products/product-edit/:<%= product.id %>">No</a>
        </div>
    </form>




    	<!-- footer -->
        <%- include('../partials/footer') %>
        <!-- /footer -->
    
    </body>	
    </html>