<div class="contenedor-main-productos-articulos-imagen">
    <img src="/images/productos/indumentaria/mujer-1.png" alt="ropa-mujer1">
</div>
<div class="contenedor-main-productos-articulos-detalles">
    <div>
        <h2><%= listaProductos.nombre %></h2>
    </div>
    <div>
        <p>
            <%= listaProductos.descripcion %>
        </p>
    </div>
    <div>
        <h2>
            $5000.00
        </h2>
    </div>
    <div>
        <button type="submit" name="comprar" class="contenedor-main-productos-articulos-button">
            Comprar
        </button>
    </div>
</div>    
    <!-- <% platos.forEach((plato, index) => { %>
        <a href="detalle/<%=index %>"></a><h4><%= plato.nombre%></h4>
        <p class="ps-text-grey">
          <%= plato.descripcion%> - <%= plato.precio %>
          
        </p>
        <br />

        <% }); %> -->