<!DOCTYPE html>
<html lang="es">
    
    <%- include('../partials/head', {title: 'userResult', estilo:'/stylesheets/style.css'}) %>

    <body>
        
        <%- include('../partials/header') %>

        <main> 
            <h1>Resultado de Búsqueda</h1>
            <ul>
                <% for (let i = 0; i < users.length; i++) { %>
                    
                    <li >
                        <div class="card">
                            <img class="img" src="/images/users/profileImages/<%= users[i].imagenUsuario%>" alt="">
                            <a href="/users/edit/<%= users[i].id %>"><%= users[i].nombre_y_apellido %></a>
                            
                        </div>
                    </li>
                <% } %>                    
            </ul>
            <h2>Search</h2>
            <form action="/users/list"method="GET">
                <button type="submit">Volver</button>
        
        </main>

        <%- include('../partials/footer') %>

    </body>
</html>