<!DOCTYPE html>

<html lang="es">
    
    <%- include('../../partials/head', {title: 'Editar producto', estilo:'/stylesheets/usersRegister-style.css'}) %>

    <body>
        
        <%- include('../../partials/header') %>

        <main>
            <div>         
            <h2 class="products-title">Listado de Categorias: <i></i></h2> 
            </div>
             <% allCategorys.forEach(category=> { %>
                            <% { %>

            <form action="/products/categorys/edit/<%= category.id %>?_method=PUT" method="post" enctype="multipart/form-data">
                    <!-- name -->
                <div class="campo">
                    <label for="nombre" class="form-label"></label>
                    <input class="nombre_y_apellido" type="text" name="nombre" id="nombre" value="<%= category.nombre %>">
                    <span class="feedback"></span>
                </div>

                <div class="botones">
                    <button type="submit">Guardar</button>
                </div>

                <form action="" method="post" enctype="multipart/form-data">
                    <!-- name -->
               
               <div class="botones">
                    <button type="submit">Borrar</button>
                </div>
            
    
            </form>


            </form>
           
            
             <% } %>
             <% }) %>
             <form action="/products/categorys/create" method="post" enctype="multipart/form-data">
                <div>     
                    <h2 class="products-title"> Formulario de Creacion de Productos</i></h2> 
                </div>
                        <!-- name -->
                    <div class="campo">
                        <label for="nombre" class="form-label"> </label>
                        <input class="nombre_y_apellido" type="text" name="nombre" id="nombre" placeholder="Ingrese el nombre de la nueva categoria" minlength="8"required>
                        <span class="feedback"></span>
                    <div class="botones">
                        <button type="submit">Crear</button>
                    </div>
                </form>
        </main>

        <%- include('../../partials/footer') %>
        
    </body>
</html>
