<!DOCTYPE html>
<html lang="es">
    
    <%- include('../partials/head', {title: 'userEdit', estilo:'/stylesheets/style.css'}) %>

    <body>
        
        <%- include('../partials/header') %>

        <main>          
            
            <h2>¡Hola <%= userToEdit.nombre_y_apellido %>! </h2>
            <div class="casilla">
                <i class="fa-solid fa-user"></i>
                <input class="nombre_y_apellido" type="text" name="nombre-y-apellido" id="nombre-y-apellido" placeholder="Nombre y Apellido" minlength="3" value="<%= userToEdit.nombre_y_apellido %>" required>
                <span class="feedback"></span>
            </div>
            
            <div class="botones">
                <form method="POST" action="/users/edit/<%= userToEdit.id %>?_method=PUT" enctype="multipart/form-data">
                    <button type="submit">Editar</button>
                </form>
                <form method="POST" action="/users/delete/<%= userToEdit.id %>?_method=DELETE">
                    <button type="submit">Eliminar</button>
                </form>
            </div>
            
        </main>

        <%- include('../partials/footer') %>
        
    </body>
</html>