<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head', {title: 'userDetail', estilo:'/stylesheets/usersRegister-style.css'}) %>
    <body>
        <%- include('../partials/header') %>
        <main>          

            <form name="Profile" method="POST" action="/users/edit/<%= user.id %>">
                <h2>¡Hola <%= user.nombre_y_apellido %>! </h2></br>

                <div class="foto">
                    <label for="imagenUsuario">
                        <img 
                            class="img" 
                            src="/images/users/profileImages/<%= user.imagenUsuario%>" 
                            alt="imagenUsuario"
                        >
                    </label>
                </div>

                <div class="campo">
                    <label for="nombre-y-apellido">
                        <i class="fa-solid fa-user"></i>
                    </label>
                    <input 
                        class="nombre_y_apellido" 
                        type="text" 
                        name="nombre_y_apellido" 
                        id="nombre-y-apellido" 
                        value= '<%= user.nombre_y_apellido %>' 
                        minlength="3"
                        required
                    >
                    <% if (locals.error && errors.nombre_y_apellido) { %>
                        <span class="feedback text-danger">
                            <%= errors.nombre_y_apellido.msg %>
                        </span>
                    <% } %>
                </div>
                
                <div class="campo">
                    <label for="email">
                        <i class="fa-solid fa-at"></i>
                    </label>
                    <p style="text-align: left;">
                        <%= user.email %> 
                    </p> 
                </div>
                
                <div class="campo">
                    <label for="fecha_de_nacimiento">
                        <i class="fa-solid fa-calendar-days"></i>
                    </label>
                    <input 
                        type="date" 
                        name="fecha_de_nacimiento" 
                        id="fecha_de_nacimiento" 
                        value= '<%= user.fecha_de_nacimiento %>' 
                        required
                    >
                    <% if (locals.error && errors.fecha_de_nacimiento) { %>
                        <span class="feedback text-danger">
                            <%= errors.fecha_de_nacimiento.msg %>
                        </span>
                    <% } %>
                </div>
                
                <div class="botones">
                    
                    <button type="submit">Editar</button>
                    
                </div>
            </form>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>