<!DOCTYPE html>
<html lang="es">
    
    <%- include('../partials/head', {title: 'ListaDeUsuarios', estilo:'/stylesheets/style.css'}) %>

    <body>
        
        <%- include('../partials/header') %>

        <main> 
        <h1>Lista de Usarios</h1>
        <ul>
            <% for (let i = 0; i < users.length; i++) { %>
                
                <li >
                    <div class="card">
                        <img class="img" src="/images/users/profileImages/<%= users[i].avatar%>" alt="">
                        <a href="/users/detail/<%= users[i].id %>"><%= users[i].name %></a>
                        
                    </div>
                </li>
            <% } %>                    
        </ul>
        <h2>Search</h2>
        <form action="/users/search"method="GET">
            <input type="text"name="search">
            <button type="submit">Buscar</button>
        
        </main>

        <%- include('../partials/footer') %>

    </body>
</html>